<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
            th,
            td {
                border: 0px solid black;
                padding: 8px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <div>
            <div>
                <h2>1. Laporan Selisih (Laba-Rugi)</h2>
            </div>
            <div>
                <table>
                    <tr>
                        <th colspan="2" style="font-weight: bolder; border-top: 1px solid black; border-bottom: 1px solid black;">PENDAPATAN</th>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight: bold;">Infaq</td>
                    </tr>
                    <tr>
                        <td>Infaq Umum</td>
                        <td>Nominal</td>
                    </tr>
                    <tr>
                        <td>Infaq Keamilan</td>
                        <td>Row 4, Column 2</td>
                    </tr>
                    <tr>
                        <td>Infaq Sosial</td>
                        <td>Row 5, Column 2</td>
                    </tr>
                    <tr>
                        <td>Infaq Cadangan</td>
                        <td>Row 6, Column 2</td>
                    </tr>
                    <tr>
                        <td>Total Infaq</td>
                        <td>Row 7, Column 2</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight: bold;">Cicilan</td>
                    </tr>
                    <tr>
                        <td>Total Cicilan</td>
                        <td>Row 9, Column 2</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight: bolder; border-top: 1px solid black; border-bottom: 1px solid black;">BEBAN</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight: bold;">Pinjaman</td>
                    </tr>
                    <tr>
                        <td>Total Pinjaman</td>
                        <td>Row 12, Column 2</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight: bold;">Pengeluaran</td>
                    </tr>
                    <tr>
                        <td>Pengeluaran Keamilan</td>
                        <td>Row 12, Column 2</td>
                    </tr>
                    <tr>
                        <td>Pengeluaran Sosial</td>
                        <td>Row 12, Column 2</td>
                    </tr>
                    <tr>
                        <td>Pengeluaran Gagal Bayar</td>
                        <td>Row 12, Column 2</td>
                    </tr>
                    <tr>
                        <td>Total Pengeluaran</td>
                        <td>Row 12, Column 2</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight: bolder; border-top: 1px solid black; border-bottom: 1px solid black;">SELISIH</td>
                    </tr>
                    <tr>
                        <td>Total Pendapatan</td>
                        <td>Row 12, Column 2</td>
                    </tr>
                    <tr>
                        <td>Total Beban</td>
                        <td>Row 12, Column 2</td>
                    </tr>
                    <tr>
                        <td>Selisih</td>
                        <td>Row 12, Column 2</td>
                    </tr>
                    <tr>
                        <td colspan="2">Keterangan Surplus/Defisit</td>
                    </tr>
                </table>
            </div>
        </div>

        <br><br>


        <div>
            <div>
                <h2>2. Laporan Arus Kas</h2>
            </div>
            <div>
                <table>
                    <tr>
                        <th colspan="2" style="font-weight: bolder; border-top: 1px solid black; border-bottom: 1px solid black;">PENDAPATAN</th>
                    </tr>
                    <tr>
                        <td>Total Infaq</td>
                        <td>Nominal</td>
                    </tr>
                    <tr>
                        <td>Total Cicilan</td>
                        <td>Row 4, Column 2</td>
                    </tr>
                    <tr>
                        <td>Total Pendapatan</td>
                        <td>Row 7, Column 2</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight: bolder; border-top: 1px solid black; border-bottom: 1px solid black;">BEBAN</td>
                    </tr>
                    <tr>
                        <td>Total Pinjaman</td>
                        <td>Row 12, Column 2</td>
                    </tr>
                    <tr>
                        <td>Total Pengeluaran</td>
                        <td>Row 12, Column 2</td>
                    </tr>
                    <tr>
                        <td>Total Beban</td>
                        <td>Row 12, Column 2</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight: bolder; border-top: 1px solid black; border-bottom: 1px solid black;">ARUS KAS</td>
                    </tr>
                    <tr>
                        <td>Posisi Awal</td>
                        <td>Row 12, Column 2</td>
                    </tr>
                    <tr>
                        <td>Selisih</td>
                        <td>Row 12, Column 2</td>
                    </tr>
                    <tr>
                        <td>Posisi Akhir</td>
                        <td>Row 12, Column 2</td>
                    </tr>
                </table>
            </div>
        </div>



        <br><br>

        <div>
            <div>
                <h2>3. Laporan Posisi Keuangan</h2>
            </div>
            <div>
                <table>
                    <tr>
                        <td colspan="2" style="font-weight: bolder; border-top: 1px solid black; border-bottom: 1px solid black;">ASSET</td>
                    </tr>
                    <tr>
                        <td>Saldo Umum</td>
                        <td>nominal</td>
                    </tr>
                    <tr>
                        <td>Saldo Keamilan</td>
                        <td>nominal</td>
                    </tr>
                    <tr>
                        <td>Saldo Sosial</td>
                        <td>nominal</td>
                    </tr>
                    <tr>
                        <td>Saldo Cadangan</td>
                        <td>nominal</td>
                    </tr>
                    <tr>
                        <td>Hutang Anggota</td>
                        <td>nominal</td>
                    </tr>
                    <tr>
                        <td>Total Asset</td>
                        <td>nominal</td>
                    </tr>
                </table>
            </div>
        </div>

        <br><br>

    </body>
</html>
